.pokemon-card {
    background: white;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
  }
.pokemon-card:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  .pokemon-name {
    text-transform: capitalize;
    font-size: 1.2rem;
    color: #333;
  }
  .pokemon-id {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 10px;
  }
  .pokemon-card-link {
    text-decoration: none;
    color: inherit;
  }
  