body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #e0f7fa, #fff3e0);
  min-height: 100vh;
}

.app-container {
  padding: 20px;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffcc00;
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

.filter-dropdown {
  padding: 10px 15px;
  border-radius: 8px;
  border: 2px solid #ddd;
  width: 150px;
  font-size: 1rem;
}

.pokemon-card:hover {
  transform: translateY(-5px);
}



.type-badge {
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 0.8rem;
  text-transform: capitalize;
  background-color: #eee;
}


.loading, .error, .no-results {
  text-align: center;
  font-size: 1.5rem;
  padding: 20px;
  color: #555;
}
